footer.footer
  .container.footer__container
    .footer__logo-and-copyright
      .logo
        .logo__column
          .logo__icon
        .logo__column
          .logo__company Granit <span>Доставка нерудных материалов</span>
      .footer__copyright &copy; 2016. Гранти
    include ../../components/callback/callback