.footer {
  background-color: $text_color_dark;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
  }

  &__logo-and-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__copyright {
    color: $text_color;
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    &__container {
      justify-content: center;
    }
  }
}