footer.footer
  .container.footer__container
    .footer__logo-and-copyright
      include ../../components/logo/logo
      .footer__copyright &copy; 2016. Гранти
    include ../../components/callback/callback