.content {
  display: flex;
  flex-direction: column;

  &__row {
    margin-bottom: 40px;

    &:nth-child(2) {
      margin-bottom: 65px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    color: $text_color;
    font-family: $font_family;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
}