.content
  .content__row
    .title быстрая Доставка
  .content__row
    .content__text
      | бетона, щебня, песка <br/> и других нерудных материалов <br/> по Москве и Московской области
  .content__row
    .content__btn
      button(type="button").btn.btn--with-bg Подробнее о доставке