.content
  .content__row
    h2.title.content__title Быстрая доставка <span>бетона, щебня, песка <br/> и других нерудных материалов <br/> по Москве и Московской области</span>
  .content__row
    .content__btn
      button(type="button").btn.btn--200 Подробнее о доставке
      .content__link или <a href="#"> перейти в каталог</a>