.contacts
  .subtitle.contacts__title Контакты
  .contents__content
    .contacts__row
      ul.contacts__phones
        li.contacts__phone
          a(href="tel:88003422334").callback__link 8 800 342-23-34
        li.contacts__phone
          a(href="tel:84950342334").callback__link 8 495 034-23-34
    .contacts__row
      address.contacts__address Московская обл. г. Балашиха, <br/>пер. Столовой, д.23, кор. 34
    .contacts__row
      a(href="mail: Info@stroika.ru").contacts__email Info@stroika.ru
