- var items = ['Аренда самосвала', 'Аренда спецтехники ', 'Рытье траншеи']
section.services
  .container
    .subtitle.services__title Наши услуги
    .services_content
      ul.products__list
        each title, i in items
          li.products__item
            .card.card--inverse.card--services
              .card__header
                img(src= require(`images/content/services_${ i + 1 }.png`))
              .card__content
                .card__title !{ title }