-
  var items = [
    { href: "#home", text: "Главная" },
    { href: '#', text: "Каталог" },
    { href: '#services', text: "Услуги" },
    { href: '#', text: "Доставка" },
    { href: '#', text: "О компании" },
    { href: '#contacts', text: "Контакты" }
  ]
nav.nav
  .container
    h2 Главное меню
    ul.nav__list
      each item in items
        li.nav__item
          a(href=item.href).nav__link !{ item.text }