.nav {
  position: relative;
  margin-bottom: -35px;
  z-index: 1;

  &__list {
    display: flex;
    height: 60px;
    background-color: $menu_bg_color;
    padding: 0 20px;
  }

  &__item {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: $text_color_dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}