.btn {
  color: $text_color_dark;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  border: 2px solid currentColor;
  background-color: transparent;

  &--180,
  &--200 {
    width: 100%;
    height: 50px;
    background-color: $button_color;
    border: none;
  }

  &--180 {
    max-width: 180px;
  }

  &--200 {
    max-width: 200px;
  }
}