.callback
  .callback__column
    .callback__phone
      a(href="tel:88003421333").callback__link 8 800 342-13-33
    .callback__subtitle Бесплатный звонок по России
  .callback__column
    button(type="button").btn Обратный звонок