- var items = ['Низкая цена', 'Быстрая доставка', 'Индивидуальный подход']
-
  var
  texts = [
    'Мы сотрудничаем напрямую с производителем, поэтому можем гарантировать самую низкую цену.',
    'Весь товар уже находится на нашем складе. Нам остается только погрузить его и в путь!',
    'Вам нужны бесперебойные поставки или большая партия товара со скидкой? Мы найдем решение!'
  ]
section.advantages
  .container
    .subtitle.advantages__title Наши преимущества
    .advantages__content
      ul.products__list
        each title, i in items
          li.products__item
            .card.card--inverse.card--advantages
              .card__header
                img(src= require(`images/content/advantages_${i + 1}.png`))
              .card__content
                .card__title !{ title }
                .card__text
                  p !{ texts[i] }